.DS_Store
.cursorignore
.cursorrules
.env
.vscode/
CoastalWikiChat/
Demo.mov
Demo.mp4
FinalOutput.mp4
__pycache__/
adapter_temp/
automatic-local-document-finetuner.code-workspace
axolotl_config_llama-8b_fft.yml
backup_v1/
backup_v2/
combine.py
fetch_translation.py
last_processed_row.txt
llama.cpp/
logs/
mlx-ui/
models/
mylist.txt
optimization_data*.json
paper-examples/
poetry.lock
possible_data.py
process_video.sh
processed_audio_*.mp3
processed_video_*.mp4
pyproject.toml
src.txt
test.json
test.json.json
test3.py
test4.py
translated_dataset.jsonl
translation_utils.py